.well-noborder {
	position: relative;
	min-height: 1.5em;
	padding: 2em;
	background-color: #f5f5f5;
	margin: 1%;
	height: 140px;
	border: 1px solid #fff;
	width: 18%;
	float: left;
}

.currency-list-flag {
	border: 1px solid #333;
	margin-top: 1em;
	box-shadow: 1px 1px 4px 1px #888;
}

.currency-list-name {
	color: #333;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}

.currency-list-name-long {
	font-size: 1em;
	color: #333;
	text-align: center;
}

.well-noborder:hover {
	cursor: pointer;
	border: 1px solid rgb(152, 152, 152);
	border-radius: 5px;
	box-shadow: 0 0 10px 2px #4075E8;
	background: #fff;
}

.well-noborder:hover
.currency-list-flag {
	box-shadow: none;
}