<div class="cell-12 animated fadeIn clearfix" id="contact">
	<div class=" well cell-4 pull-2 float-l">
		<p class="partial-label">Свържете се с нас</p>
		<form action="submit" class="cell-12">
			<div class="form-group cell-11">
				<p class="">Име</p>
				<input type="text" class="cell-12 form-control" required placeholder="Въведете вашето име">
			</div>
			<div class="form-group cell-11">
				<p class="">Телефон</p>
				<input type="number" class="cell-12 form-control" required placeholder="Въведете вашият телефон">
			</div>
			<div class="form-group cell-11">
				<p class="">Поща</p>
				<input type='email'required class="cell-12 form-control" placeholder="Въведете вашата поща">
			</div>
			<div class="form-group cell-11">
				<p class="">Вашето съобшение</p>
				<textarea name="" required class="cell-12 form-control" rows="5" placeholder="Въведете вашeто съобщение"></textarea>			
			</div>
			<div class="form-group cell-11">
				<button class="button button-1 contact-send transition-03">
					<span>Изпрати</span>
					<i class="fa fa-envelope envelope transition-03"></i>
				</button>			
			</div>
		</form>
	</div>
	<div class="well cell-5 pull-1 float-l">
		<p class="contacts-name">Обменно бюро Калбо</p> 
		<p class="contacts-label">Адрес:</p>
		<p class="cell-11 pull-1">Шумен 9700, бул.Славянски 9</p>
		<p class="contacts-label">Tелефон:</p>
		<p class="cell-11 pull-1">+359 54/688 36</p>
		<img class="contacts-logo cell-4 center-block logo-img" src="img/kalbo_v2_2.png" alt="">
	</div>
	<a href="#/home" class="back-button float-r push-2 text-center transition-03">Начало</a>
</div>