<div class="container cell-12 animated fadeIn" style="height: 50em" id="currency">
	<div class="clean-well cell-11 currency-table-container">
		<p class="label currency-label">ДНЕВНИ ВАЛУТНИ КУРСОВЕ ЗА 31.03.2015</p>
		<table class="currency-table">
			<tr class="currency-row">
				<td class="currency-name">ВАЛУТА</td>
				<td class="currency-code">КОД</td>
				<td class="currency-for">ЗА</td>
				<td class="currency-buy">КУПУВА</td>
				<td class="currency-sell">ПРОДАВА</td>
			</tr>
			<tr class="currency-row">
				<td class="currency-name">Щатски долар</td>
				<td class="currency-code">USD</td>
				<td class="currency-for">1</td>
				<td class="currency-buy">1.82</td>
				<td class="currency-sell">1.83</td>
			</tr>
			<tr class="currency-row">
				<td class="currency-name">Евро</td>
				<td class="currency-code">EUR</td>
				<td class="currency-for">1</td>
				<td class="currency-buy">1.94</td>
				<td class="currency-sell">1.95</td>
			</tr>
			<tr class="currency-row">
				<td class="currency-name">Британски паунд</td>
				<td class="currency-code">GBP</td>
				<td class="currency-for">1</td>
				<td class="currency-buy">2.62</td>
				<td class="currency-sell">2.65</td>
			</tr>
			<tr class="currency-row">
				<td class="currency-name">Швейцарски франк</td>
				<td class="currency-code">CHF</td>
				<td class="currency-for">1</td>
				<td class="currency-buy">1.80</td>
				<td class="currency-sell">1.83</td>
			</tr>
			<tr class="currency-row">
				<td class="currency-name">Датска крона</td>
				<td class="currency-code">DKK</td>
				<td class="currency-for">100</td>
				<td class="currency-buy">2.60</td>
				<td class="currency-sell">2.90</td>
			</tr>
			<tr class="currency-row">
				<td class="currency-name">Норвежка крона</td>
				<td class="currency-code">NOK</td>
				<td class="currency-for">100</td>
				<td class="currency-buy">2.30</td>
				<td class="currency-sell">2.40</td>
			</tr>
			<tr class="currency-row">
				<td class="currency-name">Шведска крона</td>
				<td class="currency-code">SEK</td>
				<td class="currency-for">100</td>
				<td class="currency-buy">1.90</td>
				<td class="currency-sell">2.01</td>
			</tr>
			<tr class="currency-row">
				<td class="currency-name">Румънска леа</td>
				<td class="currency-code">RON</td>
				<td class="currency-for">1</td>
				<td class="currency-buy">0.43</td>
				<td class="currency-sell">0.49</td>
			</tr>
			<tr class="currency-row">
				<td class="currency-name">Руска рубла</td>
				<td class="currency-code">RUB</td>
				<td class="currency-for">1000</td>
				<td class="currency-buy">2.12</td>
				<td class="currency-sell">2.43</td>
			</tr>
		</table>
	</div>
	<div class="cell-7 pull-1 float-l">
		<span class="currency-nb"> Котировките за обмяна на валута са информативни и незадължаващи ни. Може да има известна неточност поради динамично променящия се валутен пазар.<br/>За връзка с дилър от 08 до 18 часа +359 54/688 36</span>
	</div>
	<div class=" cell-4 float-l">
		<a href="#/home" class="back-button float-r push-2 text-center transition-03">Начало</a>
	</div>
</div>