<div class="container cell-12 animated fadeIn" style="height: 50em">
	<div class="clean-well cell-11">
		<div class="cell-3 float-l text-center">
			<ul class="clearfix" style="float: none">
				<li>123</li>
				<li>123</li>
				<li>123</li>
				<li>123</li>
				<li>123</li>
				<li>123</li>
				<li>123</li>
				<li>123</li>
				<li>123</li>
			</ul>
		</div>
		<div class="cell-1 float-l text-center">321</div>
		<div class="cell-2 float-l text-center">321</div>
		<div class="cell-3 float-l text-center">321</div>
		<div class="cell-2 float-l text-center">321</div>
	</div>
	<a href="#/home" class="back-button float-r push-2 text-center transition-03">Начало</a>
</div>