<table align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody><tr>
                <td style="background-color:white;background-image:linear-gradient(#d5171e,#5f0000);background-repeat:no-repeat">
                        <p style="text-align:center;margin-bottom:8.0pt;line-height:100%;text-align:center">
                                <span lang="bg" style="font-size:30.0pt;line-height:100%;font-family:Calibri;color:white;font-weight:bold;text-shadow: 2px 2px #111;">
                                        Здравейте,
                                </span>
                        </p>
                </td>
        </tr>
        <tr><td>
                <table border="0" cellpadding="0" cellspacing="0" width="500">
                        <tbody><tr>
                                <td align="center" style="background-color:white;background-image:url(https://photos-6.dropbox.com/t/2/AABtgsVba-kJAx9hGntZCuseF4M5EduSyJGYOky4amLiTA/12/36576089/png/32x32/3/_/1/2/image002.png/CNm2uBEgASACIAMoASgC/FIFg_5b6XZ4KcwZJBLpTegxGyQ2eP3lYTNYv08t3Olo?size=1280x960);background-repeat:no-repeat">

                                        <div style="padding-bottom: 25pt;border-bottom: 1px solid #aaa">
                                                <p style="text-align:justify;text-justify:inter-word;margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;line-height:11.9pt;text-align:justify;text-justify:inter-word">
                                                        <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                &nbsp;
                                                        </span>
                                                </p>
                                                <p style="margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;line-height:11.9pt;text-align:center;">
                                                        <span lang="bg" style="font-size:17.1pt;line-height:18.1pt;font-family:Calibri;color:black">
                                                                Вие получавате този e-mail, защото успешно направихте регистрация в нашия сайт
                                                                <span style="font-weight:bold;">VMClub.bg&nbsp</span>
                                                        </span>
                                                </p>
                                                <p style="text-align:justify;text-justify:inter-word;margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;line-height:11.9pt;text-align:justify;text-justify:inter-word">
                                                        <span lang="en-US" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                &nbsp;
                                                        </span>
                                                </p>
                                                <p style="text-align:justify;text-justify:inter-word;margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;line-height:11.9pt;text-align:justify;text-justify:inter-word">
                                                        <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                Вашият профил все още 
                                                                <span style="font-weight: bold;">все още НЕ е активен.</span>
                                                                    За да се възползвате от ниските цени на стоките, които предлагаме е необходимо да завършите вашата регистрация. Проверете вашата електронна поща за писмо с активационнен линк или поискайте нов.
                                                        </span>
                                                </p>
                                                <p style="text-align:justify;text-justify:inter-word;margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;line-height:11.9pt;text-align:justify;text-justify:inter-word;margin-top:25pt;">
                                                        <span lang="en-US" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                &nbsp;
                                                        </span>
                                                        <a href="http://vmclub.bg/bg/users/confirmation/new" target="_blank">
                                                                <span lang="bg" style="font-size:12.0pt;font-family:Helvetica;background-image: linear-gradient(#d5171e,#5f0000);color: #fff;padding: 5pt;box-shadow: 2px 1px 7px 1px #666;">
                                                                        Кликнете тук, за да завършите вашата регистрация!
                                                                </span>
                                                        </a>
                                                </p>
                                                <p style="text-align:justify;text-justify:inter-word;margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;line-height:11.9pt;text-align:justify;text-justify:inter-word">
                                                        <span lang="en-US" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                &nbsp;
                                                        </span>
                                                </p>
                                                <p style="text-align:justify;text-justify:inter-word;margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;margin-bottom:14.0pt;line-height:11.9pt;text-align:justify;text-justify:inter-word">
                                                        <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                Приложно ви изпращаме и копие от‚&nbsp;
                                                        </span>
                                                        <a href="http://vmclub.bg/bg/terms" target="_blank">
                                                                <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:#c00000;text-decoration:underline">
                                                                        Общите условия
                                                                </span>
                                                        </a>
                                                        <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                &nbsp;и&nbsp;
                                                        </span>
                                                        <a href="http://vmclub.bg/bg/privacy_policy" target="_blank">
                                                                <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:#c00000;text-decoration:underline">
                                                                        Поверителност
                                                                </span>
                                                        </a>
                                                        <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                , с които се съгласихте.
                                                        </span>
                                                </p>
                                                <p style="text-align:justify;text-justify:inter-word;margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;line-height:11.9pt;text-align:justify;text-justify:inter-word">
                                                        <span lang="en-US" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                &nbsp;
                                                        </span>
                                                        <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                Благодарим Ви, че избрахте да станете наш клиент. Ако имате някакви въпроси или проблеми, моля свържете се с нас.
                                                        </span>
                                                </p>
                                                <p style="text-align:justify;text-justify:inter-word;margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;line-height:11.9pt;text-align:justify;text-justify:inter-word">
                                                        <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:black">
                                                                &nbsp;
                                                        </span>
                                                </p>
                                                <p style="text-align:justify;text-justify:inter-word;margin-left:2.2737pt;margin-right:3.0315pt;text-indent:34.863pt;line-height:11.9pt;text-align:justify;text-justify:inter-word">
                                                        <span lang="bg" style="font-size:13.1pt;font-family:Calibri;color:black;float: right;">
                                                                С уважение, екипа на
                                                                <span style="font-weight: bold"> VM Club.</span>
                                                        </span>
                                                </p>
                                        </div>
                                </td>
                        </tr>
                </tbody></table>
        </td>
        </tr><tr>
                <td align="center" style="background-color:white;background-image:url(https://photos-6.dropbox.com/t/2/AABtgsVba-kJAx9hGntZCuseF4M5EduSyJGYOky4amLiTA/12/36576089/png/32x32/3/_/1/2/image002.png/CNm2uBEgASACIAMoASgC/FIFg_5b6XZ4KcwZJBLpTegxGyQ2eP3lYTNYv08t3Olo?size=1280x960);background-repeat:no-repeat">
                        <table border="0" cellpadding="0" cellspacing="0" width="450">
                                <tbody><tr>
                                        <td width="300" style="vertical-align:top">
                                                <div style="padding:2">
                                                        <p>
                                                                <span lang="en-US" style="font-family:Calibri;color:#a6a6a6">
                                                                        VMClub.bg
                                                                </span>
                                                        </p>
                                                        <p>
                                                                <a href="mailto:contact@vmclub.bg" target="_blank">
                                                                        <span lang="en-US" style="font-family:Calibri;color:#a6a6a6;text-decoration:underline">
                                                                                contact@vmclub.bg
                                                                        </span>
                                                                </a>
                                                        </p>
                                                        <p style="margin-bottom:8.0pt">
                                                                <span lang="en-US" style="font-family:Calibri;color:#a6a6a6">
                                                                        +359 878 612 878
                                                                </span>
                                                        </p>
                                                </div>
                                        </td>
                                        <td align="center">
                                                <img src="http://vmclub.bg/assets/logo-209aa2a2e8c05f132b1b00b183e6b12e.png" alt="Creating Email Magic" width="150" style="display:block">
                                        </td>
                                </tr>
                        </tbody></table>
                </td>
        </tr>
</tbody></table>
