<div id="check-point"></div>
<div class="col-lg-12 aside-container clearfix ">
                <div class="aside-first-wrapper clearfix">
		<div class="aside-first-container animated bounceInLeft">
			<div class="article-container clearfix transition-03">
				<p class="article-label">Currency</p>
				<p class="article-text">
				  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
				</p>
				<a href="#/currency">
					<button class="article-button btn btn-exclusive">
						<span class="button-text"> Let's get started </span> 
					</button>
				</a>
			</div>
		</div>
		<div class="aside-first-container animated bounceInLeft">
			<div class="article-container clearfix transition-03">
				<p class="article-label">News</p>
				<p class="article-text">
				  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
				</p>
				<a href="#/news">
					<button class="article-button btn btn-exclusive">
						<span class="button-text"> Learn more...</span> 
					</button>
				</a>
			</div>
		</div>
		<div class="aside-first-container animated bounceInLeft">
			<div class="article-container clearfix transition-03">
				<p class="article-label">Links</p>
				<p class="article-text">
				    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
				</p>
				<a href="#/links">
					<button class="article-button btn btn-exclusive">
						<span class="button-text"> Read more... </span> 
					</button>
				</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 aside-2 clearfix">
		<p class="aside-2-text"> Lorem ipsum dolor sit amet ala bala</p>
	</div>
	<div class="col-xs-12 aside-3 clearfix">
		<div class="row col-xs-12 aside-3-wrapper">
			<div class="container aside-first-container col-xs-4 anim">
			    <div class="article-3-container">
					<div class="col-xs-3">
						<img class="aside-3-img" src="img/ico.png" alt="icon">
					</div>
					<div class="col-xs-6">
						<p class="aside-3-text aside-3-text-1">Over</p>
						<p class="aside-3-text aside-3-text-2 animated">10</p>
						<p class="aside-3-text aside-3-text-3">Currencies</p>
					</div>
			    </div>
			</div>
			<div class="container aside-first-container col-xs-4 anim">
				<div class="article-3-container">
					<div class="col-xs-3">
					    <img class="aside-3-img" src="img/ico2.png" alt="icon">
					</div>
					<div class="col-xs-6 tips">
						<p class="aside-3-text aside-3-text-1">Over</p>
						<p class="aside-3-text aside-3-text-2 fifty animated">50</p>
						<p class="aside-3-text aside-3-text-3">Tips</p>
					</div>
				</div>
			</div>
			<div class="container aside-first-container col-xs-4 anim">
				<div class="article-3-container">
					<div class="col-xs-3">
						<img class="aside-3-img" src="img/ico3.png" alt="icon">
					</div>
					<div class="col-xs-6">
						<p class="aside-3-text aside-3-text-1">Over</p>
						<p class="aside-3-text aside-3-text-2 animated">100</p>
						<p class="aside-3-text aside-3-text-3">Examples</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 aside-4 clearfix">
		<p class="aside-4-text">lorem ipsum dolor sit amet asifjso sofijo fsodfj</p>
	</div>
</div>