<div class="well home-well cell-12 clearfix animated slideInLeft" id="first-article">
	<div class="cell-7 float-l clearfix">
		<div class="article-container">
			<p class="label cell-12 text-center">Lorem Ipsum Dolor Sit Amet</p>
			<p class="article-text cell-12 text-center">
				Котировките за обмяна на валута са информативни и незадължаващи ни. Може да има известна неточност поради динамично променящия се валутен пазар.
			</p>
			<div class="cell-12">
				<a class="text-center button button-1 cell-3 float-r transition-03" href="#/quotes?scrollTo=currency" title="">
					Научете повече...
					<i class="fa  fa-chevron-right chevron transition-03"></i>
				</a>		
			</div>
		</div>
	</div>
	<div class="cell-5 float-l clearfix">
		<div class="circle article-img transition-03  ">
			<img class="" src="img/val.jpg" alt="">
		</div>
	</div>
</div>
<!-- Article_2 -->
<div class="well home-well cell-12 clearfix animated slideInRight" id="second-article">
	<div class="cell-5 float-l clearfix">
		<div class="circle article-img transition-03" style="background: #000">
			<img class="cell-12 wu-logo " src="img/wu-yes-logo.jpg" alt="">
		</div>
	</div>
	<div class="cell-7 float-l clearfix">
		<div class="article-container">
			<p class="label cell-12 text-center">Lorem Ipsum Dolor Sit Amet</p>
			<p class="article-text cell-12 text-center">
				Котировките за обмяна на валута са информативни и незадължаващи ни. Може да има известна неточност поради динамично променящия се валутен пазар.
			</p>
			<div class="cell-12">
				<a class="text-center button button-2 cell-3 float-l transition-03" href="#/western?scrollTo=wu" title="">
					<i class="fa  fa-chevron-left chevron-r transition-03"></i>
					Научете повече...
				</a>		
			</div>
		</div>
	</div>
</div>
<!-- End Article_2 -->
<!-- Article_3 -->
<div class="well home-well cell-11 clearfix animated slideInLeft" id="third-article">
	<div class="cell-7 float-l clearfix">
		<div class="article-container">
			<p class="label cell-12 text-center">Lorem Ipsum Dolor Sit Amet</p>
			<p class="article-text cell-12 text-center">
				Котировките за обмяна на валута са информативни и незадължаващи ни. Може да има известна неточност поради динамично променящия се валутен пазар.
			</p>
			<div class="cell-12">
				<a class="text-center button button-3 cell-3 float-r transition-03" href="#/contact?scrollTo=contact" title="">
					Научете повече...
					<i class="fa  fa-chevron-right chevron transition-03"></i>
				</a>		
			</div>
		</div>
	</div>
	<div class="cell-5 float-l clearfix">
		<div class="circle article-img transition-03">
			<img class="call-img " src="img/call.jpg" alt="">
		</div>
	</div>
</div>
<!-- End Article_3 -->