<div class="well clearfix">
	<nav>
	    <ul class="ul">
	        <li class="li">
	            <div class="front div" id="box1">
	                <img class="image" src="img/banknotes/50nok.jpg" alt="">
	            </div>
	            <div class="back div">
					<img class="image" src="img/banknotes/50nokback.jpg" alt="">
	            </div>
	        </li>
	        <li class="li">
	            <div class="front div" id="box2">
	                <img class="image" src="img/banknotes/100nok.jpg" alt="">
	            </div>
	            <div class="back div">
					<img class="image" src="img/banknotes/100nokback.jpg" alt="">
	            </div>
	        </li>
	        <li class="li">
	            <div class="front div" id="box3">
	                <img class="image" src="img/banknotes/100nokold.jpg" alt="">
	            </div>
	            <div class="back div">
					<img class="image" src="img/banknotes/100nokoldback.jpg" alt="">
	            </div>
	        </li>
	        <li class="li">
	            <div class="front div" id="box4">
	                <img class="image" src="img/banknotes/200nok.jpg" alt="">
	            </div>
	            <div class="back div">
					<img class="image" src="img/banknotes/200nokback.jpg" alt="">
	            </div>
	        </li>
	        <li class="li">
	            <div class="front div" id="box5">
	                <img class="image" src="img/banknotes/500nok.jpg" alt="">
	            </div>
	            <div class="back div">
	            	<img class="image" src="img/banknotes/500nokback.jpg" alt="">
	            </div>
	        </li>
	        <li class="li">
	            <div class="front div" id="box6">
	                <img class="image" src="img/banknotes/1000nok.jpg" alt="">
	            </div>
	            <div class="back div">
					<img class="image" src="img/banknotes/1000nokback.jpg" alt="">
	            </div>
	        </li>
	    </ul>
	</nav>
	<backonestep/>
	<backtohome/>
</div>