<div class="well clearfix" ng-cloack>  
	<!-- Currency name and CODE sections -->
	<p class="page-header text-center academy-currency-label academy-info">{{academy.name}} – 
		<span class="" style="text-transform: uppercase">{{academy.id}}
	</p>
	<!-- Currency name and CODE sections -->
	<div class="form-group">
		<span class="academy-copiuri-label">Купюри:</span> 
		<span class="">{{academy.copiuri}} </span>
	</div>
	<!-- Images -->
	<div class="clearfix">
		<span  ng-repeat="curencyImage in academy.images">
		    <ul class="ul">
		        <li class="li">
		            <div class="front div" id="box1">
		                <img class="image" ng-src="{{curencyImage.src}}" alt="">
		            </div>
		            <div class="back div">
						<img class="image" ng-src="{{curencyImage.src_1}}" alt="">
		            </div>
		        </li>
	        </ul>
			<!-- <div class="col-md-4 col-sm-6 col-xs-12">
				<div class="clearfix">
					<img class="col-xs-6" ng-src="{{curencyImage.src}}" alt="Images">
					<img class="col-xs-6" ng-src="{{curencyImage.src_1}}" alt="Images" >
				</div>
				<span class="center-block text-center">{{curencyImage.info}}</span>
			</div> -->
		</span>
	</div>
	<!-- End Images -->
	<div class="form-group">
		<p class="">{{academy.info}}</p>
	</div>
	<h3 class="h3 text-center" ng-show="academy.features.length">Особености:</h3>
	<p>{{academy.features}}</p>
	<h1 class="h3 text-center">
		<i class="fa fa-eye margin-05"></i>
		Защити:
	</h1>
	<div class="form-group">
		<div class="academy-well" ng-show="academy.holo.length">
			<span class="h4 col-xs-12">Холограма</span>
			<span>{{academy.holo}}<span>
		</div>	
	</div>
	<div class="form-group">
		<div class="academy-well" ng-show="academy.thread.length">
			<span class="h4 col-xs-12" >Нишка</span>
			<span>{{academy.thread}}<span>
		</div>
	</div>
	<div class="form-group">
		<div class="academy-well" ng-show="academy.relef.length">
			<span class="h4 col-xs-12">Релеф</span>
			<span>{{academy.relef}}</span>
		</div>
	</div>
	<div class="form-group">
		<div class="academy-well" ng-show="academy.water_mark.length">
			<span class="h4 col-xs-12">Воден знак</span>
			<span> {{academy.water_mark}} </span>
		</div>
	</div>
	<div class="academy-alert">
		<h3 class="h3 text-center"><i class="fa fa-exclamation-triangle margin-05"></i>Забележка:</h3>
		<span>{{academy.notice}}</span>
	</div>
</div>
<div>
	<!-- Buttons -->
<backonestep class="col-md-2"></backonestep>
<backtohome class="col-md-2"></backtohome>
	<!-- End Button -->