<div class="container cell-12 animated fadeIn" style="height: 50em">
<table style="width: 676px;" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<td class="xl66" width="202" height="16">ВАЛУТА</td>
<td class="xl66" width="77">КОД</td>
<td class="xl66" width="68">ЗА</td>
<td class="xl67" width="109">ФИКСИНГ</td>
<td class="xl66" width="109">КУПУВА</td>
<td class="xl66" width="111">ПРОДАВА</td>
</tr>
</thead>
<colgroup><col width="202"> <col width="77"> <col width="68"> <col width="109"> <col width="109"> <col width="111"> </colgroup>
<tbody>
<tr>
<td class="xl68" height="16">Аржентинско песо</td>
<td class="xl68">ARS</td>
<td class="xl68">1</td>
<td class="xl69">0.204234</td>
<td class="xl70">0.092</td>
<td class="xl70">0.194</td>
</tr>
<tr>
<td class="xl71" height="16">Бахрейнски динар</td>
<td class="xl71">BHD</td>
<td class="xl71">1</td>
<td class="xl72">4.782378</td>
<td class="xl73">4.400</td>
<td class="xl73">4.735</td>
</tr>
<tr>
<td class="xl68" height="16">Бразилски реал</td>
<td class="xl68">BRL</td>
<td class="xl68">1</td>
<td class="xl69">0.554369</td>
<td class="xl70">0.538</td>
<td class="xl70">0.571</td>
</tr>
<tr>
<td class="xl71" height="16">Британски паунд-Шотландия</td>
<td class="xl71">GBP</td>
<td class="xl71">1</td>
<td class="xl72">2.668372</td>
<td class="xl73">2.562</td>
<td class="xl73">2.642</td>
</tr>
<tr>
<td class="xl68" height="16">Британски паунд-С.Ирландия</td>
<td class="xl68">GBP</td>
<td class="xl68">1</td>
<td class="xl69">2.668372</td>
<td class="xl70">2.562</td>
<td class="xl70">2.642</td>
</tr>
<tr>
<td class="xl71" height="16">Британски паунд-зависими тер.</td>
<td class="xl71">GBP</td>
<td class="xl71">1</td>
<td class="xl72">2.668372</td>
<td class="xl73">2.402</td>
<td class="xl73">2.642</td>
</tr>
<tr>
<td class="xl71" height="16">Западноафрикански франк</td>
<td class="xl71">XOF</td>
<td class="xl71">1</td>
<td class="xl72">0.002982</td>
<td class="xl74">0.00209</td>
<td class="xl74">0.00292</td>
</tr>
<tr>
<td class="xl68" height="16">Индийска рупия</td>
<td class="xl68">INR</td>
<td class="xl68">1</td>
<td class="xl69">0.028745</td>
<td class="xl75">0.0259</td>
<td class="xl75">0.0296</td>
</tr>
<tr>
<td class="xl71" height="16">Индонезийска рупия</td>
<td class="xl71">IDR</td>
<td class="xl71">1</td>
<td class="xl72">0.000138</td>
<td class="xl72">0.000131</td>
<td class="xl72">0.000144</td>
</tr>
<tr>
<td class="xl71" height="16">Исландска крона</td>
<td class="xl71">ISK</td>
<td class="xl71">1</td>
<td class="xl72">0.013240</td>
<td class="xl72">0.011916</td>
<td class="xl72">0.013505</td>
</tr>
<tr>
<td class="xl71" height="16">Казахстанско тенге</td>
<td class="xl71">KZT</td>
<td class="xl71">1</td>
<td class="xl72">0.009690</td>
<td class="xl72">0.008237</td>
<td class="xl72">0.009884</td>
</tr>
<tr>
<td class="xl71" height="16">Катарски риал</td>
<td class="xl71">QAR</td>
<td class="xl71">1</td>
<td class="xl72">0.494560</td>
<td class="xl73">0.420</td>
<td class="xl73">0.490</td>
</tr>
<tr>
<td class="xl71" height="16">Китайски юан</td>
<td class="xl71">CNY</td>
<td class="xl71">1</td>
<td class="xl72">0.290094</td>
<td class="xl73">0.284</td>
<td class="xl73">0.305</td>
</tr>
<tr>
<td class="xl68" height="16">Колумбийско песо</td>
<td class="xl68">COP</td>
<td class="xl68">1</td>
<td class="xl69">0.000704</td>
<td class="xl69">0.000528</td>
<td class="xl69">0.000739</td>
</tr>
<tr>
<td class="xl71" height="16">Кувейтски динар</td>
<td class="xl71">KWD</td>
<td class="xl71">1</td>
<td class="xl72">5.996683</td>
<td class="xl73">5.397</td>
<td class="xl73">5.997</td>
</tr>
<tr>
<td class="xl71" height="16">Малайзийски рингит</td>
<td class="xl71">MYR</td>
<td class="xl71">1</td>
<td class="xl72">0.485149</td>
<td class="xl73">0.461</td>
<td class="xl73">0.500</td>
</tr>
<tr>
<td class="xl71" height="16">Мексиканско песо</td>
<td class="xl71">MXN</td>
<td class="xl71">1</td>
<td class="xl72">0.118133</td>
<td class="xl73">0.112</td>
<td class="xl73">0.119</td>
</tr>
<tr>
<td class="xl71" height="16">Новозеландски долар</td>
<td class="xl71">NZD</td>
<td class="xl71">1</td>
<td class="xl72">1.354305</td>
<td class="xl73">1.314</td>
<td class="xl73">1.381</td>
</tr>
<tr>
<td class="xl68" height="16">ОАЕ дирхам</td>
<td class="xl68">AED</td>
<td class="xl68">1</td>
<td class="xl69">0.490107</td>
<td class="xl70">0.485</td>
<td class="xl70">0.505</td>
</tr>
<tr>
<td class="xl71" height="16">Омански риал</td>
<td class="xl71">OMR</td>
<td class="xl71">1</td>
<td class="xl72">4.675596</td>
<td class="xl73">4.208</td>
<td class="xl73">4.676</td>
</tr>
<tr>
<td class="xl68" height="16">Пакистанска рупия</td>
<td class="xl68">PKR</td>
<td class="xl68">1</td>
<td class="xl69">0.017668</td>
<td class="xl76">0.01413</td>
<td class="xl76">0.01784</td>
</tr>
<tr>
<td class="xl68" height="16">Саудитскоараб.риал</td>
<td class="xl68">SAR</td>
<td class="xl68">1</td>
<td class="xl69">0.479984</td>
<td class="xl75">0.4320</td>
<td class="xl75">0.4800</td>
</tr>
<tr>
<td class="xl71" height="16">Сингапурски долар</td>
<td class="xl71">SGD</td>
<td class="xl71">1</td>
<td class="xl72">1.310104</td>
<td class="xl73">1.271</td>
<td class="xl73">1.336</td>
</tr>
<tr>
<td class="xl68" height="16">Тайвански долар</td>
<td class="xl68">TWD</td>
<td class="xl68">1</td>
<td class="xl69">0.057538</td>
<td class="xl75">0.0489</td>
<td class="xl75">0.0581</td>
</tr>
<tr>
<td class="xl71" height="16">Тайландски бат</td>
<td class="xl71">THB</td>
<td class="xl71">1</td>
<td class="xl72">0.055272</td>
<td class="xl77">0.0531</td>
<td class="xl77">0.0580</td>
</tr>
<tr>
<td class="xl68" height="17">Филипинско песо</td>
<td class="xl68">PHP</td>
<td class="xl68">1</td>
<td class="xl69">0.040183</td>
<td class="xl76">0.03616</td>
<td class="xl76">0.04099</td>
</tr>
<tr>
<td class="xl71" height="17">Хонконгски долар</td>
<td class="xl71">HKD</td>
<td class="xl71">1</td>
<td class="xl72">0.232155</td>
<td class="xl77">0.2252</td>
<td class="xl77">0.2368</td>
</tr>
<tr>
<td class="xl68" height="17">Централноафрикански франк</td>
<td class="xl68">XAF</td>
<td class="xl68">1</td>
<td class="xl69">0.002982</td>
<td class="xl76">0.00179</td>
<td class="xl76">0.00298</td>
</tr>
<tr>
<td class="xl71" height="17">Чилийско песо</td>
<td class="xl71">CLP</td>
<td class="xl71">1</td>
<td class="xl72">0.002889</td>
<td class="xl74">0.00231</td>
<td class="xl74">0.00289</td>
</tr>
<tr>
<td class="xl68" height="17">Южноафрикански ранд</td>
<td class="xl68">ZAR</td>
<td class="xl68">1</td>
<td class="xl69">0.149172</td>
<td class="xl75">0.1417</td>
<td class="xl75">0.1536</td>
</tr>
<tr>
<td class="xl71" height="17">Южнокорейски вон</td>
<td class="xl71">KRW</td>
<td class="xl71">1</td>
<td class="xl72">0.001627</td>
<td class="xl72">0.001497</td>
<td class="xl72">0.001668</td>
</tr>
</tbody>
</table>
</div>