<div class="cell-12 animated bounceInDown clearfix">
	<div class="well cell-10 center-block" style="padding-bottom:2em;">
		<div class="cell-6 float-l clearfix">
			<p>ТАКСИ НА ПРЕВОДИ НА ТЕРИТОРИЯТА НА БЪЛГАРИЯ:</p>
		</div>
		<div class="cell-6 float-l clearfix" >
			<img class="cell-4 pull-1" src="img/wu-yes-logo.jpg" alt="Western Union" style="height: 50px">
		</div>
		<div class="cell-2 float-l border margin-left">
			<table class="table-text-center">
				<tbody>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										За минути *
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										USD
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr class="table-header">
						<td>От</td>
						<td>До</td>
						<td>Такса</td>
					</tr>
					<tr>
						<td>0</td>
						<td>34</td>
						<td>5</td>
					</tr>
					<tr>
						<td>34.01</td>
						<td>136</td>
						<td>6</td>
					</tr>
					<tr>
						<td>136.01</td>
						<td>270</td>
						<td>8</td>
					</tr>
					<tr>
						<td>270.01</td>
						<td>340</td>
						<td>10</td>
					</tr>
					<tr>
						<td>340.01</td>
						<td>680</td>
						<td>13</td>
					</tr>
					<tr>
						<td>680.01</td>
						<td>1,000</td>
						<td>18</td>
					</tr>
					<tr>
						<td>1,000.01</td>
						<td>1,350</td>
						<td>23</td>
					</tr>
					<tr>
						<td>1,350.01</td>
						<td>1700</td>
						<td>29</td>
					</tr>
					<tr>
						<td>1,700.01</td>
						<td>2,050</td>
						<td>34</td>
					</tr>
					<tr>
						<td>2,050.01</td>
						<td>2,400</td>
						<td>40</td>
					</tr>
					<tr>
						<td>2,400.01</td>
						<td>2,750</td>
						<td>45</td>
					</tr>
					<tr>
						<td>2,750.01</td>
						<td>3,050</td>
						<td>51</td>
					</tr>
					<tr>
						<td>3,050.01</td>
						<td>3,400</td>
						<td>62</td>
					</tr>
					<tr>
						<td>3,760.01</td>
						<td>4100</td>
						<td>67</td>
					</tr>
					<tr>
						<td>4100.01</td>
						<td>4,400</td>
						<td>73</td>
					</tr>
					<tr>
						<td>4,400.01</td>
						<td>4,800</td>
						<td>78</td>
					</tr>
					<tr>
						<td>4,800.01</td>
						<td>5,100</td>
						<td>84</td>
					</tr>
					<tr>
						<td>5,100.01</td>
						<td>5,400</td>
						<td>89</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="cell-2 float-l border margin-left">
			<table class="table-text-center">
				<tbody>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										За минути *
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										EUR
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr class="table-header">
						<td>От</td>
						<td>До</td>
						<td>Такса</td>
					</tr>
					<tr>
						<td>0</td>
						<td>50</td>
						<td>10</td>
					</tr>
					<tr>
						<td>50.01</td>
						<td>100</td>
						<td>13</td>
					</tr>
					<tr>
						<td>100.01</td>
						<td>200</td>
						<td>18</td>
					</tr>
					<tr>
						<td>200.01</td>
						<td>300</td>
						<td>23</td>
					</tr>
					<tr>
						<td>300.01</td>
						<td>400</td>
						<td>29</td>
					</tr>
					<tr>
						<td>400.01</td>
						<td>500</td>
						<td>34</td>
					</tr>
					<tr>
						<td>500.01</td>
						<td>700</td>
						<td>39</td>
					</tr>
					<tr>
						<td>700.01</td>
						<td>1,000</td>
						<td>45</td>
					</tr>
					<tr>
						<td>1,000.01</td>
						<td>1,250</td>
						<td>49</td>
					</tr>
					<tr>
						<td>1,250.01</td>
						<td>1,500</td>
						<td>55</td>
					</tr>
					<tr>
						<td>1,500.01</td>
						<td>1,750</td>
						<td>59</td>
					</tr>
					<tr>
						<td>1,750.01</td>
						<td>2,000</td>
						<td>65</td>
					</tr>
					<tr>
						<td>2,000.01</td>
						<td>2,500</td>
						<td>69</td>
					</tr>
					<tr>
						<td>2,500.01</td>
						<td>3,000</td>
						<td>73</td>
					</tr>
					<tr>
						<td>3,000.01</td>
						<td>3,500</td>
						<td>80</td>
					</tr>
					<tr>
						<td>3,500.01</td>
						<td>4,000</td>
						<td>85</td>
					</tr>
					<tr>
						<td>4,000.01</td>
						<td>5,000</td>
						<td>95</td>
					</tr>
					<tr>
						<td>5,000.01</td>
						<td>6,000</td>
						<td>105</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="cell-2 float-l border margin-left">
			<table class="table-text-center">
				<tbody>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										За минути *
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										BGN
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr class="table-header">
						<td>От</td>
						<td>До</td>
						<td>Такса</td>
					</tr>
					<tr>
						<td>0</td>
						<td>60</td>
						<td>5</td>
					</tr>
					<tr>
						<td>60.01</td>
						<td>200</td>
						<td>8</td>
					</tr>
					<tr>
						<td>200.01</td>
						<td>400</td>
						<td>10</td>
					</tr>
					<tr>
						<td>400.01</td>
						<td>500</td>
						<td>12</td>
					</tr>
					<tr>
						<td>500.01</td>
						<td>1,000</td>
						<td>17</td>
					</tr>
					<tr>
						<td>1,000.01</td>
						<td>1,500</td>
						<td>22</td>
					</tr>
					<tr>
						<td>1,500.01</td>
						<td>2,000</td>
						<td>28</td>
					</tr>
					<tr>
						<td>2,000.01</td>
						<td>2,500</td>
						<td>34</td>
					</tr>
					<tr>
						<td>2,500.01</td>
						<td>3,000</td>
						<td>41</td>
					</tr>
					<tr>
						<td>3,000.01</td>
						<td>3,500</td>
						<td>47</td>
					</tr>
					<tr>
						<td>3,500.01</td>
						<td>4,000</td>
						<td>54</td>
					</tr>
					<tr>
						<td>4,000.01</td>
						<td>4,500</td>
						<td>60</td>
					</tr>
					<tr>
						<td>4,500.01</td>
						<td>5,000</td>
						<td>66</td>
					</tr>
					<tr>
						<td>5,000.01</td>
						<td>6,000</td>
						<td>76</td>
					</tr>
					<tr>
						<td>6,000.01</td>
						<td>7,000</td>
						<td>89</td>
					</tr>
					<tr>
						<td>7,000.01</td>
						<td>8,000</td>
						<td>101</td>
					</tr>
					<tr>
						<td>8,000.01</td>
						<td>9,000</td>
						<td>105</td>
					</tr>
					<tr>
						<td>9,000.01</td>
						<td>10,000</td>
						<td>111</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="cell-2 float-l border margin-left">
			<table class="table-text-center">
				<tbody>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										6 Часа *
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										BGN
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr class="table-header">
						<td>От</td>
						<td>До</td>
						<td>Такса</td>
					</tr>
					<tr>
						<td>0</td>
						<td>60</td>
						<td>5</td>
					</tr>
					<tr>
						<td>60.01</td>
						<td>200</td>
						<td>6</td>
					</tr>
					<tr>
						<td>200.01</td>
						<td>400</td>
						<td>8</td>
					</tr>
					<tr>
						<td>400.01</td>
						<td>500</td>
						<td>10</td>
					</tr>
					<tr>
						<td>500.01</td>
						<td>1,000</td>
						<td>14</td>
					</tr>
					<tr>
						<td>1,000.01</td>
						<td>1,500</td>
						<td>18</td>
					</tr>
					<tr>
						<td>1,500.01</td>
						<td>2,000</td>
						<td>22</td>
					</tr>
					<tr>
						<td>2,000.01</td>
						<td>2,500</td>
						<td>27</td>
					</tr>
					<tr>
						<td>2,500.01</td>
						<td>3,000</td>
						<td>33</td>
					</tr>
					<tr>
						<td>3,000.01</td>
						<td>3,500</td>
						<td>38</td>
					</tr>
					<tr>
						<td>3,500.01</td>
						<td>4,000</td>
						<td>43</td>
					</tr>
					<tr>
						<td>4,000.01</td>
						<td>4,500</td>
						<td>48</td>
					</tr>
					<tr>
						<td>4,500.01</td>
						<td>5,000</td>
						<td>53</td>
					</tr>
					<tr>
						<td>5,000.01</td>
						<td>6,000</td>
						<td>61</td>
					</tr>
					<tr>
						<td>6,000.01</td>
						<td>7,000</td>
						<td>71</td>
					</tr>
					<tr>
						<td>7,000.01</td>
						<td>8,000</td>
						<td>81</td>
					</tr>
					<tr>
						<td>8,000.01</td>
						<td>9,000</td>
						<td>84</td>
					</tr>
					<tr>
						<td>9,000.01</td>
						<td>10,000</td>
						<td>89</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="cell-2 float-l border margin-left">
			<table class="table-text-center">
				<tbody>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										За минути *
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr >
						<td>
							<table class="table-second">
								<tr>
									<td class="table-label">
										EUR
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr class="table-header">
						<td>От</td>
						<td>До</td>
						<td>Такса</td>
					</tr>
					<tr>
						<td>0</td>
						<td>25</td>
						<td>4</td>
					</tr>
					<tr>
						<td>25.01</td>
						<td>100</td>
						<td>5</td>
					</tr>
					<tr>
						<td>100.01</td>
						<td>200</td>
						<td>6</td>
					</tr>
					<tr>
						<td>200.01</td>
						<td>250</td>
						<td>7</td>
					</tr>
					<tr>
						<td>250.01</td>
						<td>500</td>
						<td>10</td>
					</tr>
					<tr>
						<td>500.01</td>
						<td>760</td>
						<td>13</td>
					</tr>
					<tr>
						<td>760.01</td>
						<td>1,000</td>
						<td>17</td>
					</tr>
					<tr>
						<td>1,000.01</td>
						<td>1,250</td>
						<td>22</td>
					</tr>
					<tr>
						<td>1,250.01</td>
						<td>1,500</td>
						<td>26</td>
					</tr>
					<tr>
						<td>1,500.01</td>
						<td>1,750</td>
						<td>30</td>
					</tr>
					<tr>
						<td>1,750.01</td>
						<td>2,000</td>
						<td>34</td>
					</tr>
					<tr>
						<td>2,000.01</td>
						<td>2,500</td>
						<td>40</td>
					</tr>
					<tr>
						<td>2,500.01</td>
						<td>3,000</td>
						<td>47</td>
					</tr>
					<tr>
						<td>3,000.01</td>
						<td>3,500</td>
						<td>57</td>
					</tr>
					<tr>
						<td>3,500.01</td>
						<td>4,000</td>
						<td>65</td>
					</tr>
					<tr>
						<td>4,000.01</td>
						<td>4,250</td>
						<td>75</td>
					</tr>
					<tr>
						<td>4,250.01</td>
						<td>4,500</td>
						<td>85</td>
					</tr>
					<tr>
						<td>4,500.01</td>
						<td>4,750</td>
						<td>95</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
		<div class="well cell-10 center-block">
			<div class="cell-12 float-l clearfix">
				<p>ТАКСИ НА ПРЕВОДИ ОТ БЪЛГАРИЯ КЪМ ЧУЖБИНА:</p>
			</div>
			<div class="cell-2 float-l border margin-left">
				<table class="table-text-center">
					<tbody>
						<tr >
							<td>
								<table class="table-second">
									<tr>
										<td class="table-label">
											За минути *
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr >
							<td>
								<table class="table-second">
									<tr>
										<td class="table-label">
											USD
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr class="table-header">
							<td>От</td>
							<td>До</td>
							<td>Такса</td>
						</tr>
						<tr>
							<td>0</td>
							<td>34</td>
							<td>5</td>
						</tr>
						<tr>
							<td>34.01</td>
							<td>136</td>
							<td>6</td>
						</tr>
						<tr>
							<td>136.01</td>
							<td>270</td>
							<td>8</td>
						</tr>
						<tr>
							<td>270.01</td>
							<td>340</td>
							<td>10</td>
						</tr>
						<tr>
							<td>340.01</td>
							<td>680</td>
							<td>13</td>
						</tr>
						<tr>
							<td>680.01</td>
							<td>1,000</td>
							<td>18</td>
						</tr>
						<tr>
							<td>1,000.01</td>
							<td>1,350</td>
							<td>23</td>
						</tr>
						<tr>
							<td>1,350.01</td>
							<td>1700</td>
							<td>29</td>
						</tr>
						<tr>
							<td>1,700.01</td>
							<td>2,050</td>
							<td>34</td>
						</tr>
						<tr>
							<td>2,050.01</td>
							<td>2,400</td>
							<td>40</td>
						</tr>
						<tr>
							<td>2,400.01</td>
							<td>2,750</td>
							<td>45</td>
						</tr>
						<tr>
							<td>2,750.01</td>
							<td>3,050</td>
							<td>51</td>
						</tr>
						<tr>
							<td>3,050.01</td>
							<td>3,400</td>
							<td>62</td>
						</tr>
						<tr>
							<td>3,760.01</td>
							<td>4100</td>
							<td>67</td>
						</tr>
						<tr>
							<td>4100.01</td>
							<td>4,400</td>
							<td>73</td>
						</tr>
						<tr>
							<td>4,400.01</td>
							<td>4,800</td>
							<td>78</td>
						</tr>
						<tr>
							<td>4,800.01</td>
							<td>5,100</td>
							<td>84</td>
						</tr>
						<tr>
							<td>5,100.01</td>
							<td>5,400</td>
							<td>89</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="cell-2 float-l border margin-left">
				<table class="table-text-center">
					<tbody>
						<tr >
							<td>
								<table class="table-second">
									<tr>
										<td class="table-label">
											За минути *
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr >
							<td>
								<table class="table-second">
									<tr>
										<td class="table-label">
											EUR
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr class="table-header">
							<td>От</td>
							<td>До</td>
							<td>Такса</td>
						</tr>
						<tr>
							<td>0</td>
							<td>50</td>
							<td>10</td>
						</tr>
						<tr>
							<td>50.01</td>
							<td>100</td>
							<td>13</td>
						</tr>
						<tr>
							<td>100.01</td>
							<td>200</td>
							<td>18</td>
						</tr>
						<tr>
							<td>200.01</td>
							<td>300</td>
							<td>23</td>
						</tr>
						<tr>
							<td>300.01</td>
							<td>400</td>
							<td>29</td>
						</tr>
						<tr>
							<td>400.01</td>
							<td>500</td>
							<td>34</td>
						</tr>
						<tr>
							<td>500.01</td>
							<td>700</td>
							<td>39</td>
						</tr>
						<tr>
							<td>700.01</td>
							<td>1,000</td>
							<td>45</td>
						</tr>
						<tr>
							<td>1,000.01</td>
							<td>1,250</td>
							<td>49</td>
						</tr>
						<tr>
							<td>1,250.01</td>
							<td>1,500</td>
							<td>55</td>
						</tr>
						<tr>
							<td>1,500.01</td>
							<td>1,750</td>
							<td>59</td>
						</tr>
						<tr>
							<td>1,750.01</td>
							<td>2,000</td>
							<td>65</td>
						</tr>
						<tr>
							<td>2,000.01</td>
							<td>2,500</td>
							<td>69</td>
						</tr>
						<tr>
							<td>2,500.01</td>
							<td>3,000</td>
							<td>73</td>
						</tr>
						<tr>
							<td>3,000.01</td>
							<td>3,500</td>
							<td>80</td>
						</tr>
						<tr>
							<td>3,500.01</td>
							<td>4,000</td>
							<td>85</td>
						</tr>
						<tr>
							<td>4,000.01</td>
							<td>5,000</td>
							<td>95</td>
						</tr>
						<tr>
							<td>5,000.01</td>
							<td>6,000</td>
							<td>105</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="cell-2 float-l border margin-left">
				<table class="table-text-center">
					<tbody>
						<tr >
							<td>
								<table class="table-second">
									<tr>
										<td class="table-label">
											За минути *
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr >
							<td>
								<table class="table-second">
									<tr>
										<td class="table-label">
											BGN
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr class="table-header">
							<td>От</td>
							<td>До</td>
							<td>Такса</td>
						</tr>
						<tr>
							<td>0</td>
							<td>60</td>
							<td>5</td>
						</tr>
						<tr>
							<td>60.01</td>
							<td>200</td>
							<td>8</td>
						</tr>
						<tr>
							<td>200.01</td>
							<td>400</td>
							<td>10</td>
						</tr>
						<tr>
							<td>400.01</td>
							<td>500</td>
							<td>12</td>
						</tr>
						<tr>
							<td>500.01</td>
							<td>1,000</td>
							<td>17</td>
						</tr>
						<tr>
							<td>1,000.01</td>
							<td>1,500</td>
							<td>22</td>
						</tr>
						<tr>
							<td>1,500.01</td>
							<td>2,000</td>
							<td>28</td>
						</tr>
						<tr>
							<td>2,000.01</td>
							<td>2,500</td>
							<td>34</td>
						</tr>
						<tr>
							<td>2,500.01</td>
							<td>3,000</td>
							<td>41</td>
						</tr>
						<tr>
							<td>3,000.01</td>
							<td>3,500</td>
							<td>47</td>
						</tr>
						<tr>
							<td>3,500.01</td>
							<td>4,000</td>
							<td>54</td>
						</tr>
						<tr>
							<td>4,000.01</td>
							<td>4,500</td>
							<td>60</td>
						</tr>
						<tr>
							<td>4,500.01</td>
							<td>5,000</td>
							<td>66</td>
						</tr>
						<tr>
							<td>5,000.01</td>
							<td>6,000</td>
							<td>76</td>
						</tr>
						<tr>
							<td>6,000.01</td>
							<td>7,000</td>
							<td>89</td>
						</tr>
						<tr>
							<td>7,000.01</td>
							<td>8,000</td>
							<td>101</td>
						</tr>
						<tr>
							<td>8,000.01</td>
							<td>9,000</td>
							<td>105</td>
						</tr>
						<tr>
							<td>9,000.01</td>
							<td>10,000</td>
							<td>111</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	<a href="#/home" class="back-button float-r push-2 text-center transition-03" style="margin-bottom: 1em">Начало</a>
</div>